# Cabal build directories
dist*

# Stack artifacts
.stack-work

# Nix artifacts
result*

# Direnv setup
.envrc

# File names for authentication and bot config from README usage examples
auth.json
auth*.json
bot-config.json
bot-config*.json
event-token.json
event-token*.json
